<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-thumbnail>
      <a href="/recipes"><img alt="logo" src="assets/icon/Logo.png"></a>
    </ion-thumbnail>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="user as user">
  <ion-text class="ion-text-center" color="dark">
    <h1>Your Profile</h1>
  </ion-text>
  <ion-text class="ion-text-left" color="dark">
    <h3><strong>Email</strong></h3>
  </ion-text>

      <ion-text class="ion-text-left" color="dark">
        <h3>{{user.email}}</h3>
      </ion-text>

  <br>
  <ion-button (click)="editProfile()" color="primary" expand="full" icon-left
               shape="round"
               size="medium" tappable>
    <ion-icon name="edit-profile"></ion-icon>
    Change password
  </ion-button>
</ion-content>



