<ion-header>
  <ion-toolbar>
    <ion-title color="light" text-center>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
    </div>

    <!-- Login form -->
    <form [formGroup]="loginFormModel" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon item-start name="contact"></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" formControlName="email" type="email"></ion-input>
      </ion-item>
      <ng-container *ngFor="let error of error_msg.email">
        <div
          *ngIf="loginFormModel.get('email').hasError(error.type) && (loginFormModel.get('email').dirty || loginFormModel.get('email').touched)">
          <ion-text color="danger">{{ error.message }}</ion-text>
        </div>
      </ng-container>
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon item-start name="lock"></ion-icon>
          Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <ng-container *ngFor="let error of error_msg.password">
        <div
          *ngIf="loginFormModel.get('password').hasError(error.type) && (loginFormModel.get('password').dirty || loginFormModel.get('password').touched)">
          <ion-text color="danger">{{ error.message }}</ion-text>
        </div>
      </ng-container>
      <div margin-top="20px">
        <ion-button (click)="onLogin()" [disabled]="!loginFormModel.valid" color="primary" expand="full" icon-left
                    shape="round"
                    size="medium" tappable>
          <ion-icon name="log-in"></ion-icon>
          Login
        </ion-button>
      </div>
      <ion-text>Not signed up? <a (click)="redirectRegister()" color="primary">Sign Up</a></ion-text>
      <ion-text class="ion-text-center" color="danger">{{errorMsg}}</ion-text>
    </form>
  </div>
</ion-content>
