<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown ion-text-center">
      <img class="login-logo" alt="logo" src="assets/icon/Logo.png">
    </div>

    <ion-text class="ion-text-center"><h4>SIGN IN</h4></ion-text>
    <!-- Login form -->
    <form [formGroup]="loginFormModel" class="list-form">
      <div class="form-item animated fadeInUp">
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </div>
      <ng-container *ngFor="let error of error_msg.email">
        <div class="form-item"
          *ngIf="loginFormModel.get('email').hasError(error.type) && (loginFormModel.get('email').dirty || loginFormModel.get('email').touched)">
          <ion-text color="danger">{{ error.message }}</ion-text>
        </div>
      </ng-container>
      <div class="form-item animated fadeInUp">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </div>
      <ng-container *ngFor="let error of error_msg.password">
        <div class="form-item" style="margin-bottom: 1em"
          *ngIf="loginFormModel.get('password').hasError(error.type) && (loginFormModel.get('password').dirty || loginFormModel.get('password').touched)">
          <ion-text color="danger">{{ error.message }}</ion-text>
        </div>
      </ng-container>
      <div style="width: 100%; text-align: center; margin-top: 20px">
        <ion-button (click)="onLogin()" [disabled]="!loginFormModel.valid" color="primary" icon-left
                    shape="round"
                    size="medium" tappable>
          <ion-icon name="log-in"></ion-icon>
          Login
        </ion-button>
      </div>
      <ion-text class="ion-text-center"><p>Not signed up? <a (click)="redirectRegister()" color="primary">Sign Up</a>
      </p></ion-text>
      <ion-text class="ion-text-center" color="danger">{{errorMsg}}</ion-text>
    </form>
  </div>
</ion-content>
