<div>
  <ion-icon name="close" style="color: black; width: 40px; height: 40px; position: absolute; float: right; top:43px; right: 15px"
  (click)="closeModal()"></ion-icon>
  <h3 style="text-align: center; color: black; margin-top: 50px">FILTRA PER </h3>
  <ion-list>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-select [(ngModel)]="filterCategory" (ionChange)="filter($event)">
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="Breakfast">Breakfast</ion-select-option>
        <ion-select-option value="Lunch">Lunch</ion-select-option>
        <ion-select-option value="Dinner">Dinner</ion-select-option>
        <ion-select-option value="Dessert">Dessert</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Difficulty</ion-label>
      <ion-select [(ngModel)]="filterDifficulty" (ionChange)="filter($event)">
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="Easy">Easy</ion-select-option>
        <ion-select-option value="Medium">Medium</ion-select-option>
        <ion-select-option value="Hard">Hard</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</div>
