<div style="height: 100%; background-color: var(--ion-color-primary)">
  <ion-header style="background-color: var(--ion-color-primary)">
    <div class="menu-bar">
      <ion-buttons slot="start">
        <ion-back-button text="" [textContent]="" defaultHref="/profile" color="light"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-header>

  <ion-content>
    <ion-text class="ion-text-center">
      <h2 style="color: black; margin-top: 50px">EDIT PASSWORD</h2>
    </ion-text>

    <!-- Edit profile form -->
    <form [formGroup]="editProfileFormModel" class="list-form">

      <div formGroupName="passwords">
        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating">
            <ion-icon item-start name="lock"></ion-icon>
            Old password
          </ion-label>
          <ion-input color="secondary" type="password" formControlName="oldPassword" #oldPassword></ion-input>
        </ion-item>
        <ng-container *ngFor="let error of error_msg.oldPassword">
          <div
            *ngIf="editProfileFormModel.get('passwords').get('oldPassword').hasError(error.type) && (editProfileFormModel.get('passwords').get('oldPassword').dirty || editProfileFormModel.get('passwords').get('oldPassword').touched)">
            <ion-text color="danger" #errorOldPassword>{{ error.message }}</ion-text>
          </div>
        </ng-container>

        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating">
            <ion-icon item-start name="lock"></ion-icon>
            New password
          </ion-label>
          <ion-input color="secondary" type="password" formControlName="password"></ion-input>
        </ion-item>
        <ng-container *ngFor="let error of error_msg.password">
          <div
            *ngIf="editProfileFormModel.get('passwords').get('password').hasError(error.type) && (editProfileFormModel.get('passwords').get('password').dirty || editProfileFormModel.get('passwords').get('password').touched)">
            <ion-text color="danger">{{ error.message }}</ion-text>
          </div>
        </ng-container>
        <ion-item no-padding class="animated fadeInUp">
          <ion-label position="floating">
            <ion-icon item-start name="lock"></ion-icon>
            Confirm new password
          </ion-label>
          <ion-input color="secondary" type="password" formControlName="passwordConfirm"></ion-input>
        </ion-item>
        <ng-container *ngFor="let error of error_msg.passwordConfirm">
          <div
            *ngIf="editProfileFormModel.get('passwords').get('passwordConfirm').hasError(error.type) && (editProfileFormModel.get('passwords').get('passwordConfirm').dirty ||editProfileFormModel.get('passwords').get('passwordConfirm').touched)">
            <ion-text color="danger">{{ error.message }}</ion-text>
          </div>
        </ng-container>
      </div>
      <div margin-top="20px" style="width: 100%; text-align: center">
        <ion-button (click)="onEditPassword()" [disabled]="!editProfileFormModel.valid" color="primary" icon-left
                    shape="round"
                    size="medium" tappable>
          Save
        </ion-button>
        <span id="msg" style="display: none; color: green"></span>
      </div>
    </form>
  </ion-content>
</div>

