<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-thumbnail>
      <a href="/recipes"><img alt="logo" src="assets/icon/Logo.png"></a>
    </ion-thumbnail>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button="" *ngFor="let item of recipes; index as i" [routerLink]="[item.recipe.uri|slice:51]"
              color="secondary">
      <ion-thumbnail [slot]="i%2===0 ? 'start' : 'end'">
        <img src="{{item.recipe.image}}" alt="recipe"/>
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <h2 style="color: #4d3827">{{ item.recipe.label }}</h2>
        <h4>{{ item.recipe.source }}</h4>
        <p>{{ item.recipe.cuisineType }} food</p>
        <p>{{ item.recipe.mealType }}</p>
        <ion-icon name="timer-outline" slot="start"></ion-icon>
        <ion-text
          slot="start">{{ item.recipe.totalTime > 0 ? item.recipe.totalTime + "'" : 'Time not specified' }}</ion-text>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" #normalis>
    <ion-infinite-scroll-content loadingSpinner="bubbles"
                                 loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-infinite-scroll (ionInfinite)="loadMoreSearch($event)" disabled="true" #searchis>
    <ion-infinite-scroll-content loadingSpinner="bubbles"
                                 loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>


