<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="recipe as recipe;">
    <img [src]="recipe.recipe.image" alt="recipe"/>

    <ion-card-header>
      <ion-card-title> {{ recipe.recipe.label }} </ion-card-title>
      <ion-card-subtitle> <a href='{{ recipe.recipe.url }}'>Open full recipe</a> </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="medium">Health Labels: </ion-label>
      <ion-text color="tertiary">
        <span *ngFor="let g of recipe.recipe.healthLabels;  let isLast = last"> {{ g }} {{ !isLast ? '·' : '' }}</span>
      </ion-text>
      <br>
      <ion-label color="medium">Cuisine Type: </ion-label>
      <ion-text color="tertiary">
        <span>{{ recipe.recipe.cuisineType }} Food</span>
      </ion-text>
      <br>
      <ion-label color="medium">Meal Type: </ion-label>
      <ion-text color="tertiary" class="ion-margin-bottom">
        <span>{{ recipe.recipe.mealType }}</span>
      </ion-text>
      <br>
      <ion-icon class="icon-big" name="share-outline" slot="start"></ion-icon>
      <ion-icon class="icon-big ion-margin-horizontal" name="heart-outline" slot="start"></ion-icon>

      <ion-item lines="none">
        <ion-icon name="timer-outline" slot="start"></ion-icon>
        <ion-label *ngIf="recipe.recipe.totalTime > 0; else error_label"> {{recipe.recipe.totalTime}} </ion-label>
        <ng-template #error_label>
          <ion-label>{{'Time not specified'}}</ion-label>
        </ng-template>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="flame-outline" slot="start"></ion-icon>
        <ion-label>{{ recipe.recipe.calories | number : '1.0-0' }} kcal</ion-label>
      </ion-item>

      <ion-label>Ingredients</ion-label>
      <ion-list>
        <div *ngFor="let ingredient of recipe.recipe.ingredientLines">
          <ion-item>
            <ion-label class="ion-text-wrap">{{ingredient}}</ion-label>
          </ion-item>
        </div>
      </ion-list>

      <ion-label>Nutrients</ion-label>
      <ion-list>
        <div *ngFor="let ingredient of recipe.recipe.totalNutrients | keyvalue ">
          <ion-item>
            <ion-label class="ion-text-wrap">{{ingredient.value.label}} {{ingredient.value.quantity | number : '1.0-0':'it-IT' }} {{ingredient.value.unit}}</ion-label>
          </ion-item>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
