<div
  style="background: linear-gradient(to bottom, #529434, #c6ffab) !important; --ion-background-color: linear-gradient(to bottom, #529434, #c6ffab) !important; height: 100vh">
  <ion-header style="background-color: transparent">
    <div class="menu-bar">
      <ion-buttons slot="start">
        <ion-back-button text="" [textContent]="" defaultHref="/recipes" color="light"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-header>

  <ion-content>
    <div *ngIf="recipe as recipe;">
      <div class="recipe-img">
        <img [src]="recipe.recipe.image" alt="recipe">
      </div>
      <h2 class="title">{{ recipe.recipe.label.toUpperCase() }}</h2>
      <div class="recipe-desc">
        <h5><a href='{{ recipe.recipe.url }}' style="color: white">OPEN FULL RECIPE</a></h5>
        <p> {{ recipe.recipe.source }} </p>
        <p> {{ recipe.recipe.cuisineType }} food</p>
        <p> {{ recipe.recipe.mealType }} </p>
        <p style="display: flex; align-items: center">
          <ion-icon name="timer-outline" slot="start"></ion-icon>
          {{ recipe.recipe.totalTime > 0 ? recipe.recipe.totalTime + "'" : '-' }}</p>
        <ion-icon (click)="shareRecipe(recipe)"
                  class="icon-big"
                  color="light"
                  name="share-outline">
        </ion-icon>
        <ion-icon (click)="favorite(recipe.recipe.uri)"
                  class="icon-big ion-margin-horizontal"
                  color="light"
                  name="heart{{ !isFavorite ? '-outline' : '' }}">
        </ion-icon>
      </div>

      <h5 class="title" style="width: 100%; text-align: center; margin: 15px 0;">INGREDIENTS</h5>
      <div class="info-card">
        <ul style="padding-top: 8px; padding-bottom: 8px; padding-right: 8px">
          <li *ngFor="let ingredient of recipe.recipe.ingredientLines">
            {{ ingredient }}
          </li>
        </ul>
      </div>

      <h5 class="title" style="width: 100%; text-align: center; margin: 15px 0;">NUTRIENTS</h5>
      <div class="info-card">
        <ul style="padding-top: 8px; padding-bottom: 8px; padding-right: 8px">
          <li *ngFor="let nutrients of recipe.recipe.totalNutrients | keyvalue">
            {{nutrients.value.label}} {{nutrients.value.quantity | number : '1.0-0':'it-IT' }} {{nutrients.value.unit}}
          </li>
        </ul>
      </div>

      <h5 class="title" style="width: 100%; text-align: center; margin: 15px 0;">DIETS</h5>
      <div class="info-card">
        <ul style="padding-top: 8px; padding-bottom: 8px; padding-right: 8px">
          <li *ngFor="let g of recipe.recipe.healthLabels">
            {{g}}
          </li>
        </ul>
      </div>
    </div>

  </ion-content>

</div>
